#DEV
PORT=7531
NODE_ENV="development"

#DATABASE
DATABASE_URL_SQLITE="file:./prisma/cisco-managment.db"

# PROVIDER AI
MODEL_PROVIDER="custom"
MODEL_BASE_URL="http://127.0.0.1:1234/v1"
MODEL_API_KEY="una_clave_muy_secreta_:v"
MODEL_NAME="qwen3.5-4b"
MODEL_TEMPERATURE=0.7


#JWT 
JWT_SECRET="45QdBvrCqMg8pVH1gPMeGEg9L89D"
JWT_EXPIRATION=3600

#WEB
PROYECT_NAME="Cisco Managment"
COOKIE_NAME="cisco-managment"
